.mainmenu li a:hover{
    color:#06d6a0;
}
.boxed-btn,input[type="submit"],input[type="button"]{
    background-color: #06d6a0;
    transition: 0.4s;
}
.boxed-btn:hover,input[type="submit"]:hover,input[type="button"]:hover{
    background-color: #07cc99;
    color: #f9f9f9;
}


.servise-box-table:hover{
    background: #05bdfe;
    background: -webkit-linear-gradient(#05bdfe 0%, #4482ec 100%);
    background: -o-linear-gradient(#05bdfe 0%, #4482ec 100%);
    background: linear-gradient(#05bdfe 0%, #4482ec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05bdfe', endColorstr='#4482ec',GradientType=0 );

}





.hero-area{
    background-color: #3493f5;
    background:url(../img/hero-bg.png);
    -webkit-background-size: cover;
    background-size:cover ;
    color:#fff;
}

.hero-area h1{
    color:#fff;
    font-size: 45px;
    line-height: 1.3;
    margin-top: 40px;
    
}
.hero-form-area p{
    padding: 5px 0px;
}



.agency-area h3,.services-2 h3{
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 20px;
}
.agency-area p,.services-2 p{
    font-size: 15px;
    font-weight: 300;
}
.agency-header .boxed-btn{
    margin-top: 25px;
}
.service-2-title{
    padding-bottom: 80px;
}
.servise-box-table{
    display: block;
    height: 250px;
    width: 100%;
    background-color: #fbfbfb;
    display: table;
    text-align: center;
    padding: 30px;
    color:#373737;
   
}
.servise-box-table i{
    font-size: 40px;
    padding: 15px 0px;
    color:#4383ed;
}
.service-box-tableCell{
    display: table-cell;
    vertical-align: middle;
}
.servise-box-table:hover h3,.servise-box-table:hover i.zmdi{
    color:#fff;
}

.single-testimonial-item p{
    font-weight: 300;
}
.single-testimonial-item  h3{
    font-size: 18px;
    padding-top: 15px;
}
.icon-style{
    width:50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px;
    margin:0 auto;
    padding-top: 15px;
    margin-bottom: 30px;;
}
.icon-style:hover{
    
    border: 1px solid #06d6a0;
    color:#06d6a0;
}
.full-width-price-btn .boxed-btn{
    width:100%;
}
#theme-2 .price-count{
    color: #05bdfe;
}
#theme-2 .price-table-box:hover{
    border:1px solid #07cc99;
}

#theme-2 .price-table-box:hover .price-item{
    border-bottom:1px solid #07cc99;
}


/*****hhhhhhhhhhhhhhhhhhhhhh*********/
.case-study-box-preview{
    display: table;
    height: 300px;
    width: 100%;
    background-color: #ddd;
    -webkit-background-size: cover;
    background-size:cover ;
    background-position: center;
}
.case-study-tablecell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
    transform: scale(.8);
}
.case-study-tablecell:after{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    content: "";
    background: #05bdfe;
    background: -webkit-linear-gradient(#05bdfe 0%, #4482ec 100%);
    background: -o-linear-gradient(#05bdfe 0%, #4482ec 100%);
    background: linear-gradient(#05bdfe 0%, #4482ec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05bdfe', endColorstr='#4482ec',GradientType=0 );
    z-index: -1;
    opacity: 0.6;

}
.case-study-style-2:hover .case-study-tablecell{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
.case-study-tablecell .boxed-btn{
    background-color: #fff;
    color: #000;
}
.case-study-box-2{
    background-image: url(../img/test21.png);  
}
.case-study-box-3{
    background-image: url(../img/test22.png); 
}
.case-study-box-4{
    background-image: url(../img/test23.png);
}

.case-study-style-2 h4{
    font-size: 18px;
    color: #373737;
    padding-top: 25px;;
}
.case-study-style-2 p{
    font-size: 14px;
    color:#999;
}

/***blog ..............**/
.blog-section{
    display: table;
    background-color: #fbfbfb;
}
.blog-item{
    display: table-cell;
    padding: 50px 30px;
    
}
.blog-item a{
    color:#07cc99;
}
.blog-item i{
    padding-left: 10px;
    font-weight: 400;
}

.blog-section h2{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 15px;
}

/*************************/

#theme-2-2{
    background: #05bdfe;
    background: -webkit-linear-gradient(#05bdfe 0%, #4482ec 100%);
    background: -o-linear-gradient(#05bdfe 0%, #4482ec 100%);
    background: linear-gradient(#05bdfe 0%, #4482ec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05bdfe', endColorstr='#4482ec',GradientType=0 );
    padding: 50px 0px;
    margin-top: 50px;

}
.btn-style a{
    background-color: #fff;
    color:#000;
}
.btn-style a:hover{
    background-color: #fbfbfb;
    color:#000;
    font-weight: 400;
}
.seo-content h3{
    color:#fff;
}

/****Footer Area Start****/
.footer-logo img,.footer-logo p{
    padding-bottom: 30px;
    color:#999;
    font-weight: 300;
}
.social-icon-theme-2 i{
    margin-right: 15px;
}
.social-icon-theme-2 a:hover,.social-icon-theme-2 i:hover{
    color: #06d6a0;
}
